<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.scout144.morningupdate</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>cd '/Users/ericmiller/NEW JUNE 26' && npm run sync:daily >> cache/morning_sync.log 2>&1</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>5</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/ericmiller/NEW JUNE 26/cache/launchd_morning_sync.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ericmiller/NEW JUNE 26/cache/launchd_morning_sync_err.log</string>
</dict>
</plist>
